

<div class="row d-flex justify-content-center ">
  <div class="col-4 bg-light p-5">
    <h3>Counter App</h3>
    <h2>Counter: {{counter()}}</h2>
    <div class="d-flex justify-content-center">
      <button type="button" class="btn btn-dark m-1" (click)="this.incrementBy(1)"> + </button>
      <button type="button" class="btn btn-dark m-1" (click)="this.recet()"> recet </button>
      <button type="button" class="btn btn-dark m-1" (click)="this.decrementBy(-1)"> - </button>
    </div>

  </div>

</div>
